.jumbotronPic {
  max-width: 100%;
  min-width: 7rem;
  justify-content: center;
  align-items: center;
}
.jumbotronRow{
  margin: 0 0 0 0;
}
.jumbotronCol{
  margin: 5% 0 5% 0;
}
.jumbotronDiv{
  background-image: linear-gradient(to right top, #00a7ff, #0ab7ff, #31c6ff, #53d4ff, #72e1ff, #79e8ff, #82eefe, #8cf4fe, #80f6fc, #75f8f9, #6af9f6, #5ffbf1);
}
.rowParagraphJumbotron{
  margin: 0 20% 0 0;
  font-family: 'Open Sans', sans-serif;
}
.font-hello-world{
  font-family: 'Fredoka One', cursive;
}
.light-paragaraph-jumbotron-font{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.roundedPic{
  max-width: 50%;
  min-width: 2rem;
  border-radius: 80%;
}
.fontAwesomeSetting{
  margin: 1rem 0 0 2rem;
  size: 10vh;
}
.subfontAwesomeSetting{
  margin: 5px 4.5rem 0 0;
  font-size: 12px;
  text-align: center;
  size: 10vh;
}
.tabsLayout{
  margin: 2rem 0 0 0;
}